.card {
    margin: 0 0 1rem 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: white;

    &__footer {
        display: flex;
        justify-content: space-around;
    }

    &__author {
        color: #3d5af1;
    }

    &__img {
        width: 100%;
    }
}