.header {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    background-color: bisque;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    &__logo {
        display: flex;
        color: #2c3e50;
        font-size: 2.125rem;
        font-weight: 600;
        align-items: center;
        gap: 0.5rem;
    }

    &__logo-icon {
        fill: #3d5af1;
    }

    span {
        color: #3d5af1;
    }
}