.app {
    text-align: center;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;

    h1 {
        color: #2c3e50;
        margin-bottom: 2rem;
    }

    .header {
        grid-column: 1 / -1;
    }

    main {
        grid-column: 1 / 3;
    }
}